body{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Poppins;
}

.functions{
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 768px) {
    .functions{
        display: flex;
        flex-direction: column;
    }
}

.container {
    width:25vw;
    height: 40vh;
    background-color: #7de4c2;
    padding: 40px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  @media only screen and (max-width: 768px) {
    .container{
        width:50vw;
        height: 70vh;
    }
}


.button{
    padding:15px;
    margin: 10px;
    font-size: 15px;
    background-color: rgb(37, 150, 190);
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.stopwatch{
    padding:15px;
    margin: 10px;
    font-size: 25px;
    background-color: azure;
    cursor: pointer;
    width: 100px;
    border-radius: 10px;
}

.digit{
    font-size:50px;
}

    @media only screen and (max-width: 768px) {
    .digit{
       font-size:25px;
    }
    .timer{
        position: relative;
        left: 20px;
    }
}

.button-container{
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 768px) {
    .button-container{
        display: flex;
        flex-direction: column;
    }
}

.watch{
    position: relative;
    left: 25%;
}