@font-face {
    font-family:italicFont;
    src: url(../../external_fonts/GT-Super-Text-Book-Italic.woff2);
}

@font-face {
    font-family:gtFont;
    src: url(../../external_fonts/GT-Super-Display-Light.woff2);
}