.checkbox::before {
    content: url("../images/checkbox.svg");
    background-size: 15rem;
    font-size: 1px;
    position: absolute ;
    left: -1rem;
    width:25px;
    height:25px;
  }

  .checkbox {
    position: relative;
    list-style-type: none;
    padding: 0 0 10px 20px;
    font-size:25px;
    cursor: pointer;
  }

  .checkbox:hover {
    text-decoration: underline;
  }