.sidebar {
  max-width: 255px;
  background-color: #363740;
  height: 100vh;
  position: fixed;

  &_head {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3.7rem 4.3rem 4.5rem 3.2rem;

    img {
      width: 32px;
      height: 32px;
      padding-right: 1.2rem;
    }

    &_title {
      font-style: normal;
      font-weight: 700;
      font-size: 1.8rem;
      line-height: 2.4rem;
      letter-spacing: 0.4px;
      color: #a4a6b3;
      opacity: 0.7;
    }
  }

  &_list {
    list-style: none;
    padding: 0;

    li {
      padding: 1.8rem;

      i {
        margin-right: 2.4rem;
      }
    }
  }
}

.sidebar_list {
  cursor: pointer;

  li:nth-child(6) {
    border-bottom: 1px solid #dfe0eb16;
    padding-bottom: 34px;
  }

  li:nth-child(7) {
    margin-top: 16px;
  }

  li:nth-child(2) {
    background-color: #9fa2b408;
    color: #dde2ff;
    border-left: 0.3rem solid #fff;

    i::before,
    a {
      color: #dde2ff;
    }
  }
}
