body{
    background-color: #F7F7F7;
  

}

.service-container{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
}

.service-card{
    width:250px;
    height:350px;
    padding: 20px;
    margin:20px;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    flex-direction: column;
}

.service-card--plain{
    background-color:#FFFFFF ;
}

.service-card--blue{
    background-color: #E4F2FF;
}

.service-card--green{
    background-color: #D1DFBF;
}

.service-card--red{
    background-color: #F9DBDB;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:50px;
    padding:10px;
}

.container div{
    margin:15px;
}

.container:nth-child(even){
    flex-direction: row-reverse;
    margin: 20px;
}

.section__header{
    text-align: center;
}

.service-section{
    margin: 100px;
}

.feature-section{
    margin: 100px;
}

.card__button{
    padding:10px;
    color: #ffffff;
    border: #ffffff;
}

.service-card__button--gray{
    background-color:#515151 ;
}

.service-card__button--blue{
    background-color:#0047FF ;
}

.service-card__button--black{
    background-color: #40433C;
}

.service-card__button--red{
    background-color: #e97c7c;

}

.card__button--feature{
    background-color: #E70606;
}