.card-list-item{
    @include card-list-property;

    &__button{
        background-color:#43B97F ;
        padding: 10px;
        border-style: none;
        border-radius: 15px;
        color: #fff;
    }
}

