*{
    padding: 0px;
    margin: 0px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:100px;
    padding:10px;
}

.content{
    margin:25px;
}

.container:nth-child(even){
    flex-direction: row-reverse;
    margin: 20px;
}

@media (max-width:700px){
    .container img{
        width: 70%;
    }
}