*{
  margin: 0;
  padding: 0;
}

.app {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.box {
  height: 50vh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: white;
}

.square {
  height: 100px;
  width: 100px;
  background-color: white;
}

.arrow-up {
  height: 0;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid white;
}

.rectangle {
  height: 100px;
  width: 200px;
  background-color: white;
}

