body{
    margin:50px;
    padding:20px;
    border:2px solid black;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
}

h5{
    margin: 0px;
}

 .red-span{
    color:red;
}

.header_container h1{
    color: brown;
    text-align: center;
}

.syntax{
    border:1px solid black;
    display: inline;
}
.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:80px;
    padding:10px;
}

.image-container:nth-child(even){
    flex-direction: row-reverse;
    margin:10px;
    padding: 10px;
}

.padding-image{
    width:450px;
}