.buttons{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    padding: 8px 16px;
}
    .outline:hover{
        border:2px solid $teal !important; 
        color: $teal !important;
    }

    .fill:hover{
        background-color: white !important;
        border:2px solid $teal !important; 
        color: $teal !important;
    }



