.buttons{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    padding: 8px 16px;
    background-color: white;
}
    button:hover{
        background-color: $black;
    }



